html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #1ca688;
    background-image: linear-gradient(#ffffff, #1ca688);
    background-repeat: no-repeat;
}

#wrapper {
    max-width: 960px;
    background-color: #fde6de;
    margin: auto;
    padding: 2em;
}

.name {
    color: #f27e55;
}

h1,
h3,
h4 {
    font-family: 'Lobster', cursive;
    color: #2e2522;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h2,
li {
    font-family: 'Raleway', sans-serif;
    color: #2e2522;
    line-height: 1.5;
}

.titles {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 0;
    text-align: center;
}

@media (min-width: 700px) {
    aside {
        float: left;
        width: 40%;
    }

    section {
        float: right;
        width: 55%;
    }

    footer {
        clear: both;
    }

}

img {
    display: block;
    margin: auto;
    width: 50%;
}

aside,
article {
    border-bottom: thick dotted #f27e55;
}

footer {
    text-align: center;
    padding-top: 1em;
}
